.app {

}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;

  .row {

    padding: 5px 10px;
    height: 35px;

    > span {
      display: inline-block;
      text-align: right;
      width: 100px;
      margin: 0 5px;
    }

    input {
      border: 0;
      border-radius: 3px;
      padding: 8px 10px;
      margin: 0 5px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

  }

  button {
    margin: 0 5px;
    align-items: center;
    border-radius: 4px;
    box-shadow: none;
    border-width: 1px;
    display: inline-flex;
    font-size: 15px;
    height: 2.25em;
    cursor: pointer;
    -webkit-justify-content: center;
    justify-content: center;
    padding: calc(0.375em - 1px) 0.75em;
    text-align: center;
    white-space: nowrap;

    background-color: #209cee;
    border-color: transparent;
    color: #fff;

    width: 150px;
  }

}